.tableau{


}
.T1{
  background-image: url("pg_0001.png");
  background-repeat: no-repeat;

}
.T2{
  background-image: url("pg_0002.png");
  background-repeat: no-repeat;

}
.T3{
image-resolution: 10px;

}
.T4{
  background-image: url("pg_0004.png");
  background-repeat: no-repeat;

}
.T5{
  background-image: url("pg_0005.png");
  background-repeat: no-repeat;


}
.T6{
  background-image: url("pg_0006.png");
  background-repeat: no-repeat;

}
.T7{
  background-image: url("pg_0007.png");
  background-repeat: no-repeat;

}
.T8{
  background-image: url("pg_0008.png");
  background-repeat: no-repeat;

}
.T9{
  background-image: url("pg_0009.png");
  background-repeat: no-repeat;

}
.T10{
  background-image: url("pg_00010.png");
  background-repeat: no-repeat;

}
.T11{
  background-image: url("pg_00011.png");
  background-repeat: no-repeat;

}
.T12{
  background-image: url("pg_00012.png");
  background-repeat: no-repeat;

}
